
nav.bgColor-navAndfooter.white
    .container
        .row
            .logo.col-12.col-sm-12.col-md-6.col-lg-3.col-xl-3
                a(href="#").white
                    h3 Insight
                    p.tan your nice slogan
            .nav-bar.col-12.col-sm-12.col-md-6.col-lg-9.col-xl-9
                a(href="#")
                    p.white.howitworks How is works
                a(href="#")
                    p.white.signup Sign Up
                a(href="#")
                    p.white.login Login
